# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift PM
.build/

# CocoaPods / Carthage
Pods/
Carthage/Build/

# macOS
.DS_Store

# Cursor / IDE
.cursor/

# Error logs
error.md